/* Estilos para o Cabeçalho e Botão PDF */
.cabecalho-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #334155;
    padding-bottom: 10px;
}

.cabecalho-sidebar h2 {
    border-bottom: none; /* Remove a borda original do h2 */
    padding-bottom: 0;
}

#btn-pdf {
    background-color: #22c55e;
    color: #0f172a;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

#btn-pdf:hover {
    background-color: #FFD700;
}
